.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.t-shad {
    text-shadow: $default-text-shadow;
}
.fw-b {
    font-weight: bold;
}
.fw-n {
    font-weight: normal;
}
.fw-m {
    font-weight: 500;
}
.fw-l {
    font-weight: 300;
}
.fw-t {
    font-weight: 100;
}