.navigation {
  width: 100%;
  border: $navigation-border;
  text-align: left;
  
  &.centered {
    text-align: center;
  }
  
  &.right {
    text-align: right;
  }
  
  ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    list-style-type: none;
    
      a {
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        height: 100%;
        padding: $navigation-padding;
        font-size: $navigation-font-size;
        font-weight: $navigation-font-weight;
        color: $navigation-font-color;
        
        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: $navigation-font-color-hover;
        }
      }
      
      &.active {
        
        a {
          color: $navigation-font-color-active;
        }
      }
  }
}
